@import 'variables';

* {
  outline: none;
}

a:focus,
a:hover,
input:focus,
input:hover {
  text-decoration: none;
  color: inherit;
}

body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  padding: 25px 0 28px;
}

.logo {
  display: inline-block;
  vertical-align: middle;

  img {
    max-width: 106px;
  }

  .text {
    color: #707070;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      a {
        border-color: #e8e8e8;
        background-color: #ffffff;
      }
    }

    a {
      display: block;
      color: #707070;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding: 11px 18px;
      transition: .4s;
      border-radius: 20px;
      border: 1px solid #fff;

      &:hover {
        border-radius: 20px;
        border-color: #e8e8e8;
      }

    }
  }
}

.lang {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    vertical-align: middle;

    a {
      color: #707070;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      transform: .4s;
      padding: 11px 0;

      &:hover {
        color: #00b5b8;
      }
    }
  }
}

.head {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 720px;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 2560px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 100px auto 0;

}

.bg-s {
  background: url('../images/rbg.png') repeat-x left center;
  position: absolute;
  top: 0;
  right: 0;
  width: 5759px;
  height: 100%;
  -webkit-animation: panorama 70s linear infinite;
  animation: panorama 70s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes panorama {
  100% {
    -webkit-transform: translateX(66.6666%);
    transform: translateX(66.6666%)
  }
}

@keyframes panorama {
  100% {
    -webkit-transform: translateX(66.6666%);
    transform: translateX(66.6666%)
  }
}

.head-item {
  h1 {
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    opacity: 0.8;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 38px;
  }
}

.order-btn {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 50px;
  background: linear-gradient(to top, #ce2e3e 0%, #ea443a 100%);
  padding: 16px 26px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ce2e3e;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  &:hover {
    color: #fff;
  }
}

.about {
  padding: 80px 0;
}

.h2-title {
  color: #363636;
  font-family: "Proxima Nova";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 23px;
}

.about-item {
  p {
    color: #707070;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 541px;

    &.small {
      font-size: 14px;
      font-weight: 400;
      max-width: 100%;
      line-height: 22px;
    }
  }
}

.included {
  background-color: #1c1f26;
  padding: 80px 0;

}

.z-index-1 {
  z-index: 0
}

.included-item {
  .top {
    .title {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 15px;
    }

    p {
      opacity: 0.8;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 0;
    }

    margin-bottom: 40px;
  }

  .left,
  .right {
    .title {
      color: #d2313d;
      font-family: "Proxima Nova";
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
    }

    p {
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 0;
      min-height: 115px;
    }
  }

  .right {
    .title {
      color: #00b5b8;
    }

    .included-list {
      li {
        &:hover {
          color: #00b5b8;
        }
      }
    }
  }
}

.included-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;

  li {
    display: block;
    position: relative;
    opacity: 0.77;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 20px;
    padding-left: 28px;
    cursor: pointer;

    &:before {
      content: "";
      background: url('../images/Path_1829.svg') no-repeat center;
      width: 6px;
      height: 10px;
      position: absolute;
      top: 9px;
      left: 0;

    }

    &:hover {
      color: #e43f3a;
      opacity: 1;

      .more {
        left: 0;
        opacity: 1;
        z-index: 99;

        &:before {
          top: -39px;
        }
      }
    }

    .more {
      opacity: 0;
      position: absolute;
      transition: 1s;
      top: calc(100% + 20px);
      left: -100vw;
      width: 372px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding: 38px 29px 29px;
      border-radius: 8px;

      &:after {
        content: "";
        width: 100%;
        height: 55px;
        bottom: 100%;
        left: 0;
        position: absolute;
        z-index: 3;

      }

      &:before {
        content: "";
        transition: 1.5s;
        width: 20px;
        height: 20px;
        border: 20px solid transparent;
        border-bottom: 20px solid #fff;
        position: absolute;
        top: 0;
        left: 30px;

      }

      .more-title {
        color: #534a4a;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
      }

      p {
        color: #534a4a;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}

.included-svg {
  svg {
    z-index: 556;
    position: relative;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;

    .pulse_1 {
      -webkit-animation: pulse 2s infinite ease-in-out;
      animation: pulse 2s infinite ease-in-out;
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
    }

    .pulse_2 {
      -webkit-animation: pulse 2s infinite ease-in-out;
      animation: pulse 2s infinite ease-in-out;
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
  }

  display: inline-block;

  .hover_right,
  .hover_left {
    opacity: .6;
    transition: .3s;
  }

}


@-webkit-keyframes pulse {
  0% {
    transform: scale(0) translate(-701 -1569);
  }

  50% {
    transform: scale(1) translate(-701 -1569);
  }

  100% {
    transform: scale(1) translate(-701 -1569);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0) translate(-701 -1569);
  }

  50% {
    transform: scale(1) translate(-701 -1569);
  }

  100% {
    transform: scale(1) translate(-701 -1569);
    opacity: 0;
  }
}

.more-link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  border-radius: 20px;
  background-color: #00b5b8;
  padding: 8px 19px;
  transition: .3s;
  display: inline-block;

  &:hover {
    color: #ffffff;

    transform: scale(0.9);
  }
}

.advantages {
  padding: 34px 0 79px;

  .h2-title {
    margin-bottom: 40px;
  }
}

.advantages-item {
  max-width: 323px;
  margin-bottom: 56px;

  .advantages-img {
    margin-bottom: 12px;
  }

  .title {
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  p {
    color: #707070;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
  }
}

.reviews-item {
  position: relative;
  cursor: pointer;

  &.current {
    .reviews-more {
      top: 0;
      bottom: 0;
      opacity: 1;
      padding: 50px;
      background-color: #f8f8f8;
      transform: translateX(-50%) scale(1);

    }
  }

  .reviews-more {
    padding: 50px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .2s;
    left: 50%;
    transform: translateX(-50%) scale(0);
    text-align: center;
    z-index: 56;
    width: 320px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;

    .img {
      img {
        width: 100px;
        height: 101px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
      }

      margin-bottom: 30px;
    }

    .name {
      color: #363636;
      font-family: "Proxima Nova";
      font-size: 22px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 15px;
    }

    .year {
      color: #cf2f3d;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 15px;
    }

    p {
      color: #707070;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    a {
      color: #707070;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.reviews {}

.reviews-carousel {
  position: relative;

  &.owl-carousel .owl-item.act,
  .item {
    overflow: visible;
    position: relative;
    z-index: 34;
  }

  &:hover {
    .owl-nav {
      opacity: 1;
    }
  }

  .owl-nav {
    //    position: absolute;
    //    top: 50%;
    //    left: 0;
    //    width: 100%;
    //    height: 0;
    opacity: 0;
    transition: .3s;

    .owl-prev {
      float: left;
      width: 50px;
      position: absolute;
      top: 0%;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .6) !important;

      &:focus {
        outline: 0;
      }

      span {
        color: #fff;
        font-size: 45px;
      }
    }

    .owl-next {
      float: right;
      width: 50px;
      position: absolute;
      top: 0%;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .6) !important;

      span {
        color: #fff;
        font-size: 45px;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.footer {
  background-color: #1c1f26;
  padding: 35px 0;

  .container {
    max-width: 1196px;
  }

  p {
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
  }
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;

    a {
      color: #ffffff;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.pay {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;

    a {
      display: block;
      transition: .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.mob-btn {
  display: none;
  max-width: 40px;
  float: right;

  img {
    width: 100%;
  }
}

.modal {
  display: none;
  max-width: 1058px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  padding: 0;
  overflow: hidden;
  &.large {
    padding: 2vw;
    max-width: 768px;
  }

  img {
    max-width: 100%;
  }
}

.form {
  padding: 30px 49px;

  button {
    border-radius: 4px;
    background: #333333;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding: 13px 14px;
    border: 0;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background: #00b5b8;
    }
  }
}

.form-title {
  color: #333333;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}

.form-label {
  color: #605050;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;

  input,
  select {
    width: 100%;
    color: #8d8d8d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #fafafa;
    border: 0;
    padding: 11px 13px;
  }

  margin-bottom: 17px;
}

.head__booster {
  background: url(../images/bg-booster.jpg) no-repeat center / cover;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 80px;
}

.booster {
  padding: 78px 0;

}

.skills-item {
  display: inline-block;
  vertical-align: top;

  &.beginner {
    max-width: 267px;
    width: 100%;

    .skills-box {}

    .box-item {
      max-width: 249px;
      width: 100%;
      background-color: #74b756;

      &:first-child {
        background-color: #34c9d6;
      }
    }
  }

  &.advanced {
    max-width: 700px;
    width: 100%;
    margin-right: 0;

    .skills-box {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-right: 0;

      .item {
        display: inline-block;
        vertical-align: top;

        &:first-child {
          max-width: 275px;
          width: 100%;
          padding-right: 15px;
          position: relative;

          &:before {
            content: "";
            border-right: 1px dashed #707070;
            width: 1px;
            height: 91px;
            position: absolute;
            top: 0;
            right: 4.5px;
          }

        }

        &:nth-child(2) {
          width: 395px;

          .box-item {
            padding-left: 5px;
            padding-right: 5px;
            max-width: 168px;

            &:last-child {
              margin-bottom: 0;
            }

            &.empty {
              background: 0 0;
              width: 109px;
              height: 91px;
              border-radius: 4px;
              border: 1px dashed #00b5b8;
              float: right;
              padding-left: 0;
              padding-right: 0;
              margin: 0 3px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-pack: center;
              justify-content: center;
            }
          }
        }

        .box-item {
          background-color: #74b756;

          &:first-child {
            background-color: #34c9d6;
          }
        }
      }

      .item-bottom {
        opacity: 0.4;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin-top: 20px;
      }
    }
  }

  &.active {
    .skills-box {
      border: 2px solid #df3b3b;
    }
  }

  &.no_active,
  &.no_active.advanced {
    .skills-box {
      .box-item {
        background-color: #626262;

        &:first-child {
          background-color: #a5a5a5;
        }
      }
    }
  }
}



.skills-title {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  text-align: center;
}

.skills-box {
  border-radius: 6px;
  border: 1px solid #585858;
  margin-right: 9px;
  min-height: 187px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.box-item {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 13px 25px;
  background-color: #a5a5a5;
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;

  &.first {
    margin-left: 10px;

    &:before {
      content: "";
      width: 5px;
      height: 40px;
      border-radius: 2px;
      background-color: #f2ca5f;
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
}

.box-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-top: 1px solid #2f3032;
}

.item-advanced {
  display: inline-block;
}

.content_item-bottom {
  border-radius: 6px;
  border: 1px solid #393939;
  opacity: 0.66;
  color: #d3d3d3;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  padding: 15px 0 10px;
  margin-top: 16px;
}

.skills-content {
  .col-xl-8 {
    padding-right: 0;
  }

  margin-bottom: 27px;
}

.ml-auto {
  margin-left: auto;
}

.contacts {
  background: url('../images/bg2.png') no-repeat center;
  background-size: cover;
  min-height: 501px;
}

.contacts_block {
  padding: 90px 0;

  .form {
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: rgba(54, 54, 54, .06);

    textarea {
      min-height: 169px;
      display: block;
      width: 100%;
      resize: none;
      color: #8d8d8d;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      background-color: #fafafa;
      border: 0;
      padding: 11px 13px;
      margin-bottom: 20px;
      box-shadow: 0 3px 30px rgba(0, 0, 0, 0);
      border-radius: 4px;
      border: 1px solid #e2e2e2;
    }

    input,
    select {
      box-shadow: 0 3px 30px rgba(0, 0, 0, 0);
      border-radius: 4px;
      border: 1px solid #e2e2e2;
    }
  }
}

.contacts_block-box {
  margin: 20px 0 40px;
  color: #605050;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto";
  font-weight: 400;
  display: block;
  clear: both;
  position: relative;

  a {
    font-family: Roboto;
    display: block;
    font-weight: 700;
    color: #605050;

  }
}